html, body {
    min-height: 100%;
    min-width: 100%;
    background-color: #eeeeee;
}

.bottom-center {
    position: absolute;
    top: 100%;
    padding: 20px;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #ccc;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #ddd; 
}


@-webkit-keyframes animate {
    0% { height: 95%; }
    100% { height: 100%; }
}
@-moz-keyframes animate {
    0% { height: 95%; }
    100% { height: 100%; }
}
@-ms-keyframes animate {
    0% { height: 95%; }
    100% { height: 100%; }
}
@-o-keyframes animate {
    0% { height: 95%; }
    100% { height: 100%; }
}
#fade-in {
-webkit-animation: animate 2s ease-out;
-moz-animation: animate 2s ease-out;
-ms-animation: animate 2s ease-out;
-o-animation: animate 2s ease-out;
}

#form {
    z-index: 1000;
}