@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Asap);

html, body {
    min-height: 100%;
    min-width: 100%;
    background-color: #eeeeee;
}

.bottom-center {
    position: absolute;
    top: 100%;
    padding: 20px;
}

a {
    text-decoration: none;
}

.ReOS {
    background: url(img/ReOS.PNG) no-repeat;
    padding-bottom: 25px;
    width: 400px;
    height: 400px;
    float: left;
}

.Soft7 {
   background: url(img/Soft7.png) no-repeat;
    padding-bottom: 25px;
    width: 400px;
    height: 400px;
    float: right; 
}

.Dark7 {
    background: url(img/Dark7.PNG) no-repeat;
    padding-bottom: 25px;
    width: 400px;
    height: 400px;
    float: left;
}

.BoxHeader {
    font-family: Raleway;
    text-align: center;
}

.BoxText {
    margin: 10px;
    font-family: Asap;
}

.BoxLeft {
    background-color: #fafafa;
    border-radius: 0px 0px 10px 10px;
    margin-left: 15%;
    margin-top: 50px;
    -moz-box-shadow: 0 8px 15px -4px #cccccc;
    -webkit-box-shadow: 0 8px 15px -4px #cccccc;
    box-shadow: 0 8px 15px -4px #cccccc;
    max-width: 400px;
    float: left;
    transition: all .2s ease-in-out;
}

.BoxRight {
    background-color: #fafafa;
    border-radius: 0px 0px 10px 10px;
    margin-right: 15%;
    margin-top: 50px;
    -moz-box-shadow: 0 8px 15px -4px #cccccc;
    -webkit-box-shadow: 0 8px 15px -4px #cccccc;
    box-shadow: 0 8px 15px -4px #cccccc;
    max-width: 400px;
    float: right;
        transition: all .2s ease-in-out;

}

.BoxLeft:hover {
    -ms-transform: scale(1.01,1.01); /* IE 9 */
    -webkit-transform: scale(1.01,1.01); /* Safari */
    transform: scale(1.01,1.01);
    
}

.BoxRight:hover {
    -ms-transform: scale(1.01,1.01); /* IE 9 */
    -webkit-transform: scale(1.01,1.01); /* Safari */
    transform: scale(1.01,1.01);
    
}

::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #ccc;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #ddd; 
}


@-webkit-keyframes animate {
    0% { height: 95%; }
    100% { height: 100%; }
}
@-moz-keyframes animate {
    0% { height: 95%; }
    100% { height: 100%; }
}
@-ms-keyframes animate {
    0% { height: 95%; }
    100% { height: 100%; }
}
@-o-keyframes animate {
    0% { height: 95%; }
    100% { height: 100%; }
}
#fade-in {
-webkit-animation: animate 2s ease-out;
-moz-animation: animate 2s ease-out;
-ms-animation: animate 2s ease-out;
-o-animation: animate 2s ease-out;
}

#form {
    z-index: 1000;
}