@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Asap);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);


html, body {
    padding: 100px;
    min-height: 100%;
    min-width: 100%;
    background-color: #eeeeee;
}

.bottom-center {
    position: absolute;
    top: 100%;
    padding: 20px;
}

.mdl-button-white {
    color: #383838;
}

a {
    text-decoration: none;
}

.ReOS {
    background: url(img/ReOS.PNG) no-repeat;
    padding-bottom: 25px;
    float: left; 
}

.Soft7 {
   background: url(img/Soft7.png) no-repeat;
    padding-bottom: 25px;
    float: right; 
}

.Dark7 {
    background: url(img/Dark7.PNG) no-repeat;
    padding-bottom: 25px;
    float: left;
}

.Sleek7 {
   background: url(img/Sleek7.PNG) no-repeat;
    padding-bottom: 25px;
    float: right; 
}

.ImageSize {
    min-width: 400px;
    min-height: 400px;
}

.PageContent {
    margin-top: 8%;
}

.ReOSHeaderDiv {
    text-align: center;
}

.ReOSHeader {
 /*   background: url(img/ReOSHeader.PNG) no-repeat;
    max-height: 350px;
    max-width: 349px; */
    max-width: 35%;
    -webkit-filter: drop-shadow(0 20px 13px rgba(0,0,0,.3));
    -moz-filter: drop-shadow(0 20px 13px rgba(0,0,0,.3)));
    -ms-filter: drop-shadow(0 20px 13px rgba(0,0,0,.3));
    -o-filter: drop-shadow(0 20px 13px rgba(0,0,0,.3));
    filter: drop-shadow(0 20px 13px rgba(0,0,0,.3));
    min-width: 0%;
    margin: 0 auto; 
    padding-bottom: 70px;
}

.ReOSQuote {
    font-family: Raleway;
    font-size: 65px;
    text-align: center;
    padding-bottom: 100px;
    line-height: 100%;
}

.ReOSQuote-Cydia {
    font-family: Raleway;
    font-size: 25px;
    text-align: center;
    padding-bottom: 100px;
    line-height: 100%;
}

.ReOSLayer {
    font-family: Raleway;
    font-size: 30px;
}

.ReOSLayer-Cydia {
    font-family: Raleway;
    font-size: 20px;
}

.Newsstand {
    background: url(img/Newsstand.png) no-repeat;
    min-height: 254px;
    min-width: 300px;
    margin-left: 15px;
    float: left;
}

.Newsstand-Cydia {
    background: url(img/Newsstand-Cydia.png) no-repeat;
    min-height: 254px;
    min-width: 300px;
    margin-left: 15px;
    float: left;
}

.ReOSUserQuotes {
    float: right;
    font-family: Raleway;
    font-size: 20px;
    margin-right: 15px;
    padding-bottom: 100px;
}

.Passcode {
    background: url(img/Lockscreen.PNG) no-repeat;
    min-height: 568px;
    min-width: 300px;
    margin-right: 15px;
    margin-left: 30px;
    float: right;
}

.Passcode-Cydia {
    background: url(img/Lockscreen-Cydia.PNG) no-repeat;
    min-height: 568px;
    min-width: 300px;
    margin-right: 15px;
    margin-left: 30px;
    float: right;
}

.ReOSPasscode {
    font-family: Raleway;
    font-size: 30px;
    text-align: right;
    
}

.ReOSPasscode-Cydia {
    font-family: Raleway;
    font-size: 20px;
    text-align: right;
    
}

.Music {
    background: url(img/Music-Cydia.PNG) no-repeat;
    min-height: 554px;
    min-width: 300px;
    margin-left: 15px;
    margin-right: 30px;
    float: left;
}

.ReOSMusic {
    font-family: Raleway;
    font-size: 30px;
}

.ReOSMusic-Cydia {
    font-family: Raleway;
    font-size: 20px;
}

.Safari {
    min-width: 100%;
    padding-top: 350px;
    
}

.MouseOver:hover {
     -o-transform: scale(1.01,1.01);
     -moz-transform: scale(1.01,1.01);
    -ms-transform: scale(1.01,1.01); /* IE 9 */
    -webkit-transform: scale(1.01,1.01); /* Safari */
    transform: scale(1.03,1.03);
    -ms-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-filter: drop-shadow(0 20px 13px rgba(0,0,0,.3));
    -moz-filter: drop-shadow(0 20px 13px rgba(0,0,0,.3)));
    -ms-filter: drop-shadow(0 20px 13px rgba(0,0,0,.3));
    -o-filter: drop-shadow(0 20px 13px rgba(0,0,0,.3));
    filter: drop-shadow(0 13px 8px rgba(0,0,0,.3));
}

.Safari1 {
    background: url(img/Safari1.png) no-repeat;
    min-height: 120px;
    min-width: 120px;
    margin: 20px;
    display: inline-block;
    
}

.Safari2 {
    background: url(img/Safari2.png) no-repeat;
    min-height: 120px;
    min-width: 120px;
    margin: 20px;
    display: inline-block;
}

.Safari3 {
    background: url(img/Safari3.png) no-repeat;
    min-height: 120px;
    min-width: 120px;
    margin: 20px;
    display: inline-block;
}

.Safari4 {
    background: url(img/Safari4.png) no-repeat;
    min-height: 120px;
    min-width: 120px;
    margin: 20px;
    display: inline-block;
}

.SafariText {
    font-family: Raleway;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 40px;
}

.MyFace {
    background-image: url(img/IS2016.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    min-height: 900px;
    min-width: 100%;
}

.BoxHeader {
    font-family: Raleway;
    text-align: center;
}

.BoxText {
    margin: 10px;
    font-family: Asap;
}

.ReOSBox {
    background-color: #fafafa;
    border-radius: 10px 10px 10px 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    -moz-box-shadow: 0 8px 15px -4px #cccccc;
    -webkit-box-shadow: 0 8px 15px -4px #cccccc;
    box-shadow: 0 8px 15px -4px #cccccc;
    max-width: 90%;
}

.ReOSBox-Cydia {
    background-color: #fafafa;
    margin-top: 50px;
    margin-bottom: 50px;
    -moz-box-shadow: 0 8px 15px -4px #cccccc;
    -webkit-box-shadow: 0 8px 15px -4px #cccccc;
    box-shadow: 0 8px 15px -4px #cccccc;
}

.BoxContainer {
    margin: 45px;
    text-align: center;
}

.BoxLinks {
    background-color: #fafafa;
    border-radius: 0px 0px 10px 10px;
    margin: 20px;
    -moz-box-shadow: 0 8px 15px -4px #cccccc;
    -webkit-box-shadow: 0 8px 15px -4px #cccccc;
    box-shadow: 0 8px 15px -4px #cccccc;
    max-width: 400px;
    display: inline-block;
    vertical-align: top;
    transition: all .2s ease-in-out;
}

.BoxLinks:hover {
     -o-transform: scale(1.01,1.01);
     -moz-transform: scale(1.01,1.01);
    -ms-transform: scale(1.01,1.01); /* IE 9 */
    -webkit-transform: scale(1.01,1.01); /* Safari */
    transform: scale(1.01,1.01);
    
}



.IconListDiv {
    margin-bottom: 100px;
    text-align: center;
}


.IconList {
    background-color: #fafafa;
    border-radius: 10px 10px 10px 10px;
    padding: 30px;
    font-family: Raleway;
    font-size: 2em;
    transition: all .2s ease-in-out;
}


.IconList-Cydia {
    background-color: #fafafa;
    border-radius: 10px 10px 10px 10px;
    padding: 30px;
    font-family: Raleway;
    font-size: 15px;
}


.about {
   position: relative;
}

ul.column {
    list-style-type: none;
    overflow: hidden;
    width: 90%;
    padding-left: 0px;
    font-size: 1em;
    font-family: ASAP;
}

ul.column li {
    font-size: 1em;
    float: left;
    width: 20%;
}

::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #ccc;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #ddd; 
}


@-webkit-keyframes animate {
    0% { height: 95%; }
    100% { height: 100%; }
}
@-moz-keyframes animate {
    0% { height: 95%; }
    100% { height: 100%; }
}
@-ms-keyframes animate {
    0% { height: 95%; }
    100% { height: 100%; }
}
@-o-keyframes animate {
    0% { height: 95%; }
    100% { height: 100%; }
}
#fade-in {
-webkit-animation: animate 2s ease-out;
-moz-animation: animate 2s ease-out;
-ms-animation: animate 2s ease-out;
-o-animation: animate 2s ease-out;
}








@media screen and (min-width: 862px) {
    .ImageSize {
    width: 400px;
    height: 400px;
    }
    .Box {
    width: 0%;
    margin: 0 auto;
    }
}

@media screen and (min-width: 851px) {
    .material-icons {
        display: none;
    }
}
