Package: com.firebirdflame.reos
Name: ReOS
Version: 10.0-beta
Architecture: iphoneos-arm
Description: Taking the iOS foundation, and building from it
Homepage: https://twitter.com/firebirdflame1
Depends: org.coolstar.customclock, winterboard
Section: Themes
Author: Ian S <thefirebirdflame@gmail.com>
Maintainer: Ian S <thefirebirdflame@gmail.com>
