html, body {
        padding: 0;
        margin: 0;
}

#dark {
        background-color: #111;
}

iframe#map-embed-iframe {
        height: 679px !important;
}
iframe.footer {
        display: none;
}

#loading {
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
      }
    
#calendar {
        max-width: 900px;
        margin: 0 auto;
}